# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/cosas_referencia
test.js
#/src/views/reference.ejs
#/public/assets
public/js/editUserValidations.js
public/js/loginValidations.js
public/js/registerValidations.js
public/js/script.js
