<%- include('../partials/head.ejs') %>
<body>

	<%- include('../partials/headerStatic.ejs') %>

	<main>
		<section>
			
			<h2 class="title">
				Formulario de creación de productos
			</h2>

			<div class="form-box">
				<form action="/products/create" method="post" enctype="multipart/form-data">
					<div class="form-content-box">
						
						<%- include("../partials/products/productForm.ejs") %>

					</div>
				</form>
			</div>
		</section>
	</main>

	<%- include('../partials/footer.ejs') %>

</body>	
</html>