/* Colors & other configs */
:root {
    --dropdown-width: 180px;
    --ice: #ebebeb;
    --orange: #d48502;
    --grey: #666666;
    --darkblue: #03264C;
    --cream: #fff;
    --lightblue: #1259c3;
    --blue: #0022AA;
    --greengrey: #629398;
    --green: #39b54a;
    --dark: #222229;
  }
  
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #d48502;
  background-color: var(--dark);
}

header {
  background-color: var(--grey);
  padding: 10px;
  top: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  box-shadow: 0px 2px 7px 0px rgba(50,50,50,0.6);
}

.header-container {
  display: flex;
}

.logo-contanier {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 50%;
  margin: auto;
}

.logo-img{
  max-width: 150px;
  margin: auto;
}

.admin-details{
  display: none;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  order: 1;
}

.admin {
  font-weight: 400;
  text-align: center;
  padding: 4px;
  margin-right: 6px;
}

.admin-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px;
  object-fit: contain;
  border: 2px solid #03264C;
}

/* dropdown menu button styles */
a.button {
  /* Frame */
  display: inline-block;
  border-radius: 7px;
  width: 36px;
  padding: 8px;
  box-sizing: border-box;
  /* Style */
  border: none;
  background-color: var(--darkblue);
  color: var(--ice);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

a.button:active {
  filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
  position: relative;
  padding: 0;
  border: none;
  margin: auto;
  margin-inline: 10px;
}

.dropdown summary {
  list-style: none;
  list-style-type: none;
}

summary::-webkit-details-marker {
  display: none;
}

.dropdown ul {
  position: absolute;
  margin: 22px 0 0 0;
  padding: 12px 0;
  width: var(--dropdown-width);
  left: 205%;
  margin-left: calc((var(--dropdown-width) / 2)  * -1);
  box-sizing: border-box;
  z-index: 2;
  background: var(--darkblue);
  border-radius: 6px;
  list-style: none;
  font-size: 14px;
  font-weight: bolder;
}

.dropdown ul li {
  padding: 0;
  margin: 0;
}

.link-separator{
  border: var(--grey) 1px solid;
  margin: 10px;
}

.dropdown ul li a:link, 
.dropdown ul li a:visited {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--orange);
  text-decoration: none;
}

.dropdown ul li a:hover {
  background-color: var(--greengrey);
  color: var(--darkblue);
}

/* Close the dropdown with outside clicks */
.dropdown > summary::before {
  display: none;
}

.dropdown[open] > summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.dropdown[open] .fa-bars {
  display: none;
}

.dropdown[open] .fa-xmark {
  display: block; 
}

.dropdown:not([open]) .fa-xmark {
  display: none;
}

.dropdown:not([open]) .fa-bars {
  display: block;
}

/* dashboard body */


main{
  margin-top: 100px;
  width: 80%;
  min-height: 80vh;
}

.dashboard-title{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

h1{
  margin: auto;
  text-align: center;
}


/* Search Bar */

.dashboard-searchbar {
  display: flex;
  justify-content: space-between;
}

.searchbar{
  display: flex;
  width: 90%;
  margin: auto;
}

.search-icon,
.search-input {
    margin: 12px 0;
    padding: 5px 3px 5px 3px;
    background-color: var(--ice);
    color: var(--grey);
    font-size: 14px;
    border: 1px solid var(--grey);
}

.search-input {
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px 0 0 5px;
    border-right: none;
    flex-grow: 1;
    padding-left: 5px;
    font-size: 15px;
}

.search-icon {
    border-radius: 0 5px 5px 0;
}

/* Table / card container */

.dashboard-products {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: #666666; */
}

/* Products buttons */
.form-big-box,
.dashboard-products-buttons{
  margin: 10px 5px;
  display: flex;
  justify-content: space-evenly;
}

a.dashboard-products-buttons{
  margin: auto;
  /* width: 121px; */
}

.save-button,
.save-button-delete,
.dashboard-products-buttons button{
  margin: 3px 6px;
  padding: 6px;
  border-radius: 10px;
  font-size: 15px;
  color: var(--darkblue);
  background-color: var(--greengrey);
  font-weight: bold;
  border-top: 2px solid #444444;
  border-left: 2px solid #444444;
}

.save-button:hover,
.save-button-delete:hover,
.dashboard-products-buttons button:hover{
  color: var(--greengrey);
  background-color: var(--darkblue);
}


/* Product Cards */


.products-title {
  font-size: 24px;
  text-align: center;
  margin: 20px
}

.articles-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.article-box {
    width: 100%;
    padding: 0 15px;
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
}

section article {
  margin: 20px 0px;
  background-color: white;
  transition: all 450ms;
  overflow: hidden;
  border-radius: 5px;
}

section article.main-article:hover {
  box-shadow: 0px 0px 15px var(--ice);
}

section article.main-article:hover .article {
  transform: rotate(360deg);
  box-shadow: 0 0 5px #39b54a
}

section article.main-article:hover .description {
  display: block;
}

.img-article {
  margin: 0;
  padding: 0;
}

.img-article img {
  margin: auto;
  width: 100%;
}

.info-article-box {
  border: 1px solid #ebebeb;
  padding: 15px;
}

.info-article {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

main section article i.article  {
  display: block;
  font-size: 15px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: solid 2px #39b54a;
  color: #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -30px;
  transition: 300ms;
  z-index: 50;
}

.price {
    padding: 5px;
    font-size: 18px;
    width: 30%;
    margin: 0 10px;
}

.discount {
    margin-left: 15px;
    font-size: 14px;
    color: #39b54a;
    width: 70%;
    min-width: fit-content;
}

.description {
    font-size: 16px;
    padding: 10px;
    padding-bottom: 0px;
    display: none;
    margin-left: 5px;
    transition: 450ms;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Products  table */
.table-bordered {
    border: 1px solid #e3e6f0
}

table {
  border-collapse: collapse;
  margin-bottom: 3px;
  color: #03264C;
  text-align: center;
  width: fit-content;
  margin: 20px;
}

.table td,
.table th {
    padding: 5px;
    border-top: 1px solid #e3e6f0
}

.table thead th {
    vertical-align: bottom;
}

.table-bordered td,
.table-bordered th {
    border: 2px solid #629398;
    background: white;
    width: auto;
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px;
}

.table-responsive{
    display: flex;
    font-size: 14px;
    align-items: center;
    margin: auto;
    margin-block: 8px;
    border-radius: 10px;
    width: -webkit-fill-available;
    overflow-x: scroll;
}

.table-cat-status{
  justify-content: center;
  width: 100%;
}

td ul{
  list-style: none;
  list-style-type: none;
}


.hidden{
  display: none;
}

/* products detail */

.title {
  font-size: 24px;
  text-align: center;
  margin: 20px
}

.prooduct-detail-container {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}


.prooduct-detail-box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
  border-bottom: solid 1px #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
}

.product-detail-description {
  padding: 20px 15px;
  font-size: 15px;
  line-height: 1.2;
  text-align: justify;
}


.product-detail-info-container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

.product-detail-info {
  border-left: 1px solid #ebebeb;
  padding: 15px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-title {
  font-weight: 400;
  font-size: 24px;
}

.detail-price {
  font-size: 40px;
  margin: 10px 0;
}

.small {
  font-size: 18px;
  color: #39b54a;
}

.small span {
  text-decoration: line-through;
}

.info-list {
  margin-bottom: 5px;
}

.info-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.info-list i {
  color: #39b54a;
  font-size: 20px;
  margin-right: 15px;
  position: relative;
}

.info-list p {
  color: #666666;
  font-size: 15px;
  margin: 0;
}

.form-label {
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
}

.form-input {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  border: solid 1px #666666;
  padding: 10px 15px;
}

.button-box {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.description-button {
  border: none;
  border-radius: 8px;
  font-size: 11px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  margin: 13px 0;
}

.description-button.edit {
  background-color: chocolate;
}

.description-button.delete {
  background-color: rgb(248, 69, 37);
}

/* Create / Edit Form */

.form-box{
  position: relative;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  background-color: var(--grey);
  font-size: 15px;
  align-items: top;
  border-radius: 8px;
}

.date{
  max-width: 350px;
}

.form-content-box{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--grey);
  overflow: hidden;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 20px;
  padding: 10px 16px;
  border-radius: 10px;
}

.cat-stat{
  background-color: var(--dark);
  margin-top: 0;
}

form.cat-stat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.cat-stat > .form-input-label-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-stat .form-input-label-box label{
  text-align: center;
  margin-block: 10px;
  font-size: 20px;
}

.form-input-label-box{
  margin: 5px 0px;
  padding: 3px 0px;
  width: 100%;
}

.form-label-product {
  display: inline-block;
  margin: 3px 1px;
  font-weight: bold;
}

.form-input-product {
  width: 100%;
  border: none;
  padding: 3px 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.login-item {
    margin: 5px 0px;
    padding: 3px 0px;
    width: 100%;
}

.error{
  color: tomato;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 11px;
  text-align: center;
}

.form-big-box{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%
}

textarea.form-input-product {
  min-height: 140px;
  resize: vertical;
  padding: 15px;
}

/* Confirm Delete */
.edit-email,
.delete-product{
  width: 85%;
  margin: auto;
  text-align: center;
}

.edit-email{
  text-align: start;
}

.form-box-delete{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

.form-content-box-delete{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--grey);
  border-radius: 8px;
  overflow: hidden;
}

.form-big-box-delete{
  position: relative;
  width: 100%;
  padding: 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  font-size: 25px;
}

.form-delete-box{
  position: relative;
  width: 100%;
  padding: 15px;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* User Detail */

.profile-avatar-box{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  background: #666666;
  border-radius: 15px;
}

.avatar-box{
  margin: auto;
}

.avatar-box img{
  margin: auto;
  border-radius: 100%;
  width: 270px;
  margin-top: 10px;
  object-fit: contain;
  height: 270px;
  border: 2px #03264C solid;
}

.username-box{
  margin: 0;
  font-size: 22px;
  padding: 10px;
  text-align: center;
}

.profile-user-data{
  margin: 10px 0;
  width: 100%;
  padding: 13px;
  background-color: #666666;
  border-radius: 13px;
  font-size: 16px;
}

.user-data{
  margin: 0;
  background-color: #666666;
  text-align: left;
  margin-bottom: 10px;
}

.user-data ul{
  margin: auto;
  list-style: none;
}

.user-data li{
  margin: auto;
  margin: 8px 0px;
}

.user-data-title{
  display: flex;
  margin: 5px 0;
  color: #d48502;
  align-items: center;
}

.user-data i{
  margin: 0;
  margin-right: 9px;
  color: #03264C;
}

.user-data h4{
  margin: 0;
  font-size: 15px;
}

.user-data p{
  margin: auto;
  color: #03264C;
  font-size: 16px;
}

.user-interest{
  margin: 0;
  /* width: 50%; */
  /* text-align: right; */
  background-color: #666666;
  /* text-align: center; */
}

li h3{
  margin: 0px;
  margin-bottom: 9px;
  font-size: 24px;
  color: #03264C;
}

.user-interest ul{
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}
.user-interest li{
  margin: 3px 0;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width:768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .logo-contanier {
    width: 100%;
    margin: auto;
  }

  .logo {
      width: auto;
  }

  .admin-details{
    display: flex;
    padding: 0 7px;
  }

  .admin {
    text-align: center;
    align-self: center;
    font-size: 17px;
    font-weight: bold;
  }


  .dashboard-searchbar {
    width: 100%;
    margin: auto;
  }

  .searchbar {
    width: 70%;
    justify-content: center;
  }

  .article-box {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .dashboard-products-buttons{
    margin: 15px;
  }

  a.dashboard-products-buttons{
    margin: 0;
  }
  

  .save-button,
  .dashboard-products-buttons button{
    margin: 0px 20px;
    padding: 5px;
    font-size: 15px;
  }

  .product-detail-description {
    font-size: 18px;
    line-height: 1.2;
  }

  .detail-price {
    font-size: 53px;
    margin: 27px 0;
  }

  .small {
    font-size: 18px;
  }

  .info-list p {
    color: #666666;
    font-size: 17px;
    margin: 0;
  }

  .form-input-label-box{
    flex: 0 0 45%;
    max-width: 45%
  }

  .big-box{
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 94%;
  }

  .form-delete-box{
    flex: 0 0 50%;
    max-width: 50%
}

.table-responsive {
  justify-content: center;
}

.profile-container{
  display: flex;
  padding: 5px;
  align-items: stretch;
  justify-content: space-evenly;
}

.profile-avatar-box{
  padding: 9px;
  justify-content: flex-start;
}

.avatar-box{
  margin: 0;
}

.profile-user-data{
  /* margin: auto; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  font-size: 20px;
  align-self: stretch;
}


.user-data{
  display: flex;
}
  
.user-data li{
  margin: 12px 0px;
}

.user-data-title{
  margin: 8px 0;
}

.user-data h4{
  font-size: 18px;
  font-weight: bold;
}

.user-data p{
  font-size: 18px;
  font-weight: bold;
}

li h3{
  margin: 10px 0;
}

.user-interest li{
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

}

@media (min-width:1200px) {
  .header-container {
    margin: auto;
    align-items: center;
  }
  
  .logo-contanier {
  display: flex;
  justify-content: space-between;
  }

  .logo {
      min-width: 218px;
  }

  .logo-img{
      max-width: 185px;
      margin: auto;
  }

  .admin {
    margin: 0;
    min-width: none;
    font-size: 20px;
    font-weight: bold;
  }

  .search-icon,
  .search-input {
      margin: 15px 0;
      padding: 5px 8px;
      font-size: 20px;
  }

  .save-button,
  .dashboard-products-buttons button{
    padding: 5px;
    margin: 0px 60px;
  }


  .article-box {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .price {
    font-size: 25px;
  }

  .discount {
      font-size: 16px;
  }

  .description {
    font-size: 18px;
  }

.prooduct-detail-box {
    flex: 0 0 66.666667%;
    max-width: 66.666667%
  }

  .product-detail-description {
    font-size: 21px;
    line-height: 1.2;
  }

  .product-detail-info-container {
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }

  .detail-price {
    font-size: 50px;
    margin: 20px 0;
  }

  .small {
    font-size: 18px;
  }

  .edit-email,
  .delete-product{
    width: 70%;
    margin-top: 60px;
    margin-bottom: 165px;
  }

  .table-responsive {
    overflow-x: auto;
  }

  .table-responsive>.table-bordered {
      border: 0
  }

  .profile-container{
    width: 80%;
    margin: auto;
  }

  .user-data ul{
    margin-left: 30px;
    flex-direction: column;
    display: flex;
  }
  .user-interest{
    margin-right: 30px;
  }

}
