* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ebebee;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #d48502;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */

header {
    background-color: #666666;
    padding: 10px;
    top: 0;
    width: 100%;
    z-index: 100;
}

header.fixed{
    position: fixed;
}

.logo-search {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50%;
    margin: auto;
}

.logo-img{
    max-width: 150px;
    margin: auto;
}

.search-bar {
    display: flex;
    width: 90%;
    padding: 5px 0;
    margin: -1px 29px;
}

.search-bar1{
    display: flex;
    width: 90%;
    margin: auto;
}

.search-icon,
.search-field {
    margin: 12px 0;
    padding: 5px 3px 5px 3px;
    background-color: #ebebeb;
    color: #666;
    font-size: 14px;
    border: 1px #666 solid;
}

.search-field {
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px 0 0 5px;
    border-right: none;
    flex-grow: 1;
    padding-left: 5px;
    font-size: 15px;
}

.search-icon {
    border-radius: 0 5px 5px 0;
}

.userLogged-detail{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.userLogged-detail-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.info-header {
    font-weight: 400;
    text-align: center;
    padding: 4px;
    margin-right: 6px;
}

.info-header-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 5px;
    object-fit: contain;
    border: 2px solid #03264C;
}

.close-menu,
.burger-menu {
    background-color: #03264C;
    color: #ebebeb;
    display: block;
    width: 35px;
    padding: 4px;
    font-size: 20px;
    margin: auto;
    margin-right: 0;
    text-align: center;
    border-radius: 7px;
    padding-top: 5px;
}

.close-menu1,
.burger-menu1 {
    background-color: #03264C;
    color: #ebebeb;
    width: 36px;
    padding: 8px;
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.main-navbar ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #d48502;
    padding: 1px 0;
    font-size: 15px;
    display: inline-block;
}

.main-navbar i {
    padding: 0 3px;
    color: #03264C;
}

.banner {
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
}

.banner img {
    width: 100%;
}

/* MAIN */


.main-border {
    margin-top: 80px;
}

main {
    margin: auto;
    width: 90%;
}

.title {
    font-size: 24px;
    text-align: center;
    margin: 20px
}

.articles-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.article-box {
    width: 100%;
    padding: 0 15px;
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
}

section article {
    margin: 20px 0px;
    background-color: white;
    transition: all 450ms;
    overflow: hidden;
    border-radius: 5px;
}

section article.main-article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

section article.main-article:hover .article {
    transform: rotate(360deg);
    box-shadow: 0 0 5px #39b54a
}

section article.main-article:hover .description {
    display: block;
}

.img-article {
    margin: 0;
    padding: 0;
}

.img-article img {
    margin: auto;
    width: 100%;
}

.info-article-box {
    border: 1px solid #ebebeb;
    padding: 15px;
}

.info-article {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

main section article i.article  {
    display: block;
    font-size: 15px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: solid 2px #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -30px;
    transition: 300ms;
    z-index: 50;
}

.price {
    padding: 5px;
    font-size: 18px;
    width: 30%;
    margin: 0 10px;
}

.discount {
    margin-left: 15px;
    font-size: 14px;
    color: #39b54a;
    width: 70%;
    min-width: fit-content;
}

.description {
    font-size: 16px;
    padding: 10px;
    padding-bottom: 0px;
    display: none;
    margin-left: 5px;
    transition: 450ms;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* FOOTER */

footer {
    margin-top: 20px;
    text-align: center;
    background-color: #FFF;
    color: #03264C;
    padding-top: -13px;
}

footer section {
    padding: 10px;
}

.footer-icon {
    padding: 5px;
    border: none;
    background-color: #fff;
    color: #1259c3;
    font-size: 3em;
    margin-bottom: 10px;
    ;
}

.footer-icon:hover {
    color: #0022AA;
}

footer section h3 {
    margin: 5px;
    font-size: 20px;
}

footer p,
footer section p {
    padding: 7px;
}

/* Register Form  */

.login-form,
.form-frame {
    margin: auto;
    margin-top: 20px;
    padding: 10px 16px;
    width: 80%;
    background-color: #666666;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
}

.login-form {
    background-color: #ebebeb;
    font-size: 20px;
}

.login-item,
.form-item {
    margin: 5px 0px;
    padding: 3px 0px;
    width: 100%;
}

.login-item label,
.form-item label {
    display: block;
    margin: 3px 1px;
    font-weight: bold;
}

.login-item input,
.form-field {
    width: 100%;
    border: none;
    padding: 3px 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.login-item input {
    padding: 7px;
}

.form-radio {
    display: flex;
}

.form-radio input {
    margin: 5px;
}

.form-buttons{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.login-form button,
.form-buttons button {
    margin: 0 5px;
    font-size: 15px;
    padding: 3px;
    font-weight: bolder;
    background-color: #629398;
    color: #03264C;
    border-radius: 5px;
}

.login-form button {
    width: 50%;
    margin: 15px 0;
    padding: 8px;
    font-size: 20px;
    transition: 450ms all;
}

.login-form button:hover {
    background-color: #03264C;
    color: #d48502;
}

.login-options-container{
    width: 100%;
}

.login-checkbox{
    text-align: center;
    margin-bottom: 20px;
}

.login-options{
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 14px;
    color: #03264C;
    margin: 10px 0;
    text-align: center;
}

.login-options div{
    margin: 5px 0;
}

/* Detail */

.detail {
    padding: 10px 0px;
}

.prooduct-detail-container,
.detail-box {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-items: center; */
}
.prooduct-detail-box,
.detail-img-description-box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    border-bottom: solid 1px #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-detail-img,
.detail-img {
    width: 70%;
    display: block;
    margin: auto;
}

.product-detail-description,
.detail-description {
    padding: 20px 15px;
    font-size: 15px;
    line-height: 1.2;
    text-align: justify;
}

.product-detail-info-container,
.detail-info-box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}

.product-detail-info {
    border-left: 1px solid #ebebeb;
    padding: 15px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.users{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.detail-title {
    font-weight: 400;
    font-size: 24px;
}

.detail-price {
    font-size: 40px;
    margin: 10px 0;
}

.detail-user {
    font-size: 45px;
    margin: 10px 0;
}

.small {
    font-size: 18px;
    color: #39b54a;
}

.small span {
    text-decoration: line-through;
}

.info-list {
    margin-bottom: 50px;
}

.interest{
    display: flex;
    justify-content: space-evenly;
}

.user .info-list{
    margin-bottom: 0
}


.info-list li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
}

.interest  li{
    padding: 7px;
    margin: 15px;
}

.info-list i {
    color: #39b54a;
    font-size: 20px;
    margin-right: 15px;
    position: relative;
}

.info-list p {
    color: #666666;
    font-size: 15px;
    margin: 0;
}

.buy-button-cart,
.buy-button {
    background-color: #1259c3;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin: 5px 0;
}
.buy-button-cart{
    margin: auto;
}

.button-box {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.description-button {
    border: none;
    border-radius: 8px;
    font-size: 12px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    margin: 13px 0;
}

.description-button.edit {
    background-color: chocolate;
}

.description-button.delete {
    background-color: rgb(248, 69, 37);
}

/* Create / Edit Form */
.delete-product{
    width: 85%;
    margin: auto;
    text-align: center;
}

.form-box{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%
}

.form-box-delete{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}

.form-content-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #c8c8c8;
    border-radius: 8px;
    overflow: hidden;
}

.form-content-box-delete{
    display: flex;
    flex-wrap: wrap;
    background-color: #c8c8c8;
    border-radius: 8px;
    overflow: hidden;
}

.form-input-label-box{
    margin: 5px 0px;
    padding: 3px 15px;
    width: 100%;
}

.form-delete-box{
    position: relative;
    width: 100%;
    padding: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-label-product {
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
}

.map-label{
    display: inline-block;
    font-size: 18px;
    margin: 5px;
    font-weight: bold;
}

.form-input-product {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    border: solid 1px #666666;
    padding: 10px 15px;
}

.form-big-box{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%
}

.form-big-box-delete{
    position: relative;
    width: 100%;
    padding: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 25px;
}

textarea.form-input-product{
    min-height: 140px;
    resize: vertical;
    padding: 15px;
}

.save-button{
    background-color: #1259c3;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;    
}

.save-button-delete{
    background-color: #1259c3;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin: 11px;
}

.map-button{
    background-color: #1259c3;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 0px 5px;
    width: 75px;
    margin-bottom: 10px;
}

/* CART */

.max{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cart-product{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart-form{
    margin: auto;
}

.cart-product figure{
    display: flex;
    justify-content: center;
}

.cart-product-img{
    width: 270px;
}

.cart-product-detail-container{
    text-align: center;
    margin: auto;
    width: 300px;
}

.cart-product-detail{
    padding: 0px 10px;
    text-align: center;
    margin: auto;
    width: 100%;
}

.cart-product-name{
    margin: auto;
    padding: 5px;
    font-size: 20px;
    max-width: 300px;
}

.cart-product-info{
    margin: auto;
    padding: 10px;
    width: 100%;
}

.cart-product-info-detail{
    text-align: left;
    font-size: 14px;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}

.cart-product-price{
    margin: 2px 0;
}

.cart-product-quantity{
    margin: 2px 0;
}

.cart-product-final-price{
    font-size: 17px;
    margin: 5px 0;
}

.cart-button-box{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.cart-buy-button{
    margin: auto;
}

.cart-edit-quantity{
    margin: 17px;
}
.cart-label{
    font-size: 17px;
    font-weight: bolder;
}

.cart-input{
    margin: 0 5px;
    border: none;
    font-size: 16px;
    padding: 0px;
    width: 60px;
    text-align: end;
}

.error{
    color: tomato;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 11px;
    text-align: center;
}

/* profile */

.profile-avatar-box{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    background: #666666;
    border-radius: 15px;
}

.avatar-box{
    margin: auto;
}

.avatar-box img{
    margin: auto;
    border-radius: 100%;
    width: 270px;
    margin-top: 10px;
    object-fit: contain;
    height: 270px;
    border: 2px #03264C solid;
}

.username-box{
    margin: 0;
    font-size: 22px;
    padding: 10px;
    text-align: center;
}

.profile-button-box{
    margin: 0;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.button-container{
    margin: auto;
    padding: 5px;
    font-size: 15px;
}

.button-container a{
    margin: auto;
    width: 100%;
}

.button-container button{
    padding: 5px 15px;
    border-radius: 8px;
    color: #03264C;
    background-color: #629398;
    font-weight: bold;
    border-top: 2px solid #444444;
    border-left: 2px solid #444444;
    margin: 0px 19px;
}

.profile-data{
    margin: auto;
    width: 100%;
}

.profile-user-data{
    margin: auto;
}

.user-data-container{
    margin: 5px 0;
    margin-left: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px;
    background-color: #666666;
    border-radius: 13px;
    font-size: 16px;
}

.user-data{
    margin: 0;
    width: 50%;
    background-color: #666666;
    text-align: left;
}

.user-data ul{
    margin: auto;
    list-style: none;
}

.user-data li{
    margin: auto;
    margin: 5px 0px;
}

.user-data-title{
    display: flex;
    margin: 2px;
    color: #d48502;
}

.user-data i{
    margin: 0;
    margin-right: 6px;
    color: #03264C;
}

.user-data h4{
    margin: 0;
    font-size: 15px;
}

.user-data p{
    margin: auto;
    color: #03264C;
    font-size: 15px;
}

.user-interest{
    margin: 0;
    width: 50%;
    text-align: right;
    background-color: #666666;
}

.user-interest h3{
    margin: 0px;
    margin-bottom: 5px;
    font-size: 24px;
    color: #03264C;
}

.user-interest ul{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}
.user-interest li{
    margin: 3px 0;
    font-size: 19px;
    font-weight: bold;
}

.user-data-buttons{
    margin: 10px 5px;
    display: flex;
    justify-content: space-evenly;
}

.user-data-buttons button{
    margin: 3px 6px;
    padding: 4px 0;
    border-radius: 10px;
    font-size: 13px;
    color: #03264C;
    background-color: #629398;
    font-weight: bold;
    border-top: 2px solid #444444;
    border-left: 2px solid #444444;
}

/* profile table */
.purchase-history{
    margin: auto;
    margin-top: 20px;
    width: 90%;
}
table {
    border-collapse: collapse;
    width: auto;
    margin-bottom: 3px;
    color: #03264C;
    text-align: center;
    width: 100%;
}

.table td,
.table th {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #e3e6f0
}

.table thead th {
    vertical-align: bottom;
}

.table-bordered {
    border: 1px solid #e3e6f0
}

.table-bordered td,
.table-bordered th {
    border: 2px solid #629398;
    background: white;
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px;
}

.table-responsive{
    display: flex;
    width: 100%;
    font-size: 14px;
}

.hidden {
    display: none;
}

.hidden1 {
    display: none;
}

.flex-hidden{
    display: flex;
}

@media (min-width:768px) {
    
    main {
        width: 95%;
    }

    .main-header-top {
        display: flex;
        justify-content: space-between;
    }

    .logo-search {
        width: 100%;
        margin: auto;
    }

    .logo {
        width: auto;
    }

    .search-bar {
        width: 70%;
        justify-content: center;
    }

    .info-header {
        text-align: center;
        align-self: center;
        font-size: 17px;
        font-weight: bold;
    }

    .userLogged-detail{
        padding: 0 7px;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .navbar-left {
        flex-direction: row;
    }

    .main-navbar li {
        margin: 0 5px;
    }


    .main-border {
        margin-top: 84px;
    }

    .article-box {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .form-frame {
        width: 100%;
        justify-content: space-between;
    }

    .form-item{
        max-width: 45%;
        flex: 0 0 45%;
    }
    .product-detail-description,
    .detail-description {
        font-size: 18px;
        line-height: 1.2;
    }

    .detail-price {
        font-size: 53px;
        margin: 27px 0;
    }

    .small {
        font-size: 18px;
    }

    .info-list p {
        color: #666666;
        font-size: 17px;
        margin: 0;
    }

    .form-input-label-box{
        flex: 0 0 45%;
        max-width: 45%
    }

    .form-delete-box{
        flex: 0 0 50%;
        max-width: 50%
    }

    .big-box{
        position: relative;
        width: 100%;
        flex: 0 0 100%;
        max-width: 94%
    }

    .form-big-box{
        margin-left: 45px;
    }

    .login-options{
        display: flex;
        justify-content: space-evenly;
        font-size: 15px;
    }

    .cart-product{
        margin: 0;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: stretch;
    }

    .cart-product-detail-container{
        width: 80%;
    }
    .cart-product-img{
        padding: 10px;
    }

    .cart-product-name{
        margin-top: 5px;
        font-size: 22px;
    }

    .cart-product-info-detail{
        font-size: 16px;
        margin: 10px;
        padding: 6px;
    }


    .cart-product-final-price{
        font-size: 19px;
        margin-top: 5px;
        padding: 10px;
    }

    .cart-button-box{
        margin-bottom: 0;
        justify-content: space-around;
        padding: 0 25px;
    }

    .profile-container{
        display: flex;
        padding: 5px;
        align-items: stretch;
        justify-content: space-evenly;
    }
    
    .profile-avatar-box{
        padding: 9px;
        justify-content: flex-start;
    }

    .avatar-box{
        margin: 0;
    }

    .profile-button-box{
        flex-direction: column;
    }
    .profile-data{
        margin: 10px 3px;
        width: 100%;
    }

    .profile-user-data{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-data-container{
        font-size: 20px;
        align-self: stretch;
    }

    .user-data{
        display: flex;
    }
        
    .user-data li{
        margin: 12px 0px;
    }
    
    .user-data-title{
        margin: 8px 0;
    }
    
    .user-data h4{
        font-size: 18px;
        font-weight: bold;
    }
    
    .user-data p{
        font-size: 18px;
        font-weight: bold;
    }
    
    .user-interest h3{
        margin: 10px 0;
    }
    
    .user-interest li{
        margin: 10px 0;
        font-size: 18px;
        font-weight: bold;
    }
    
    .user-data-buttons{
        margin: 10px;
    }
    
    .user-data-buttons button{
        margin: 0px 20px;
        padding: 5px 0;
        font-size: 15px;
    }

    .hidden1 {
        display: flex;
    }
    .hidden2 {
        display: none;
    }
    .hidden {
        display: none;
    }
}

@media (min-width:1200px) {
    .logo-search {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        min-width: 218px;
    }

    .logo-img{
        max-width: 185px;
        margin: auto;
    }

    .main-header-top,
    .main-navbar {
        max-width: 1200px;
        margin: auto;
    }

    .main-header-top {
        align-items: center;
    }

    .search-icon,
    .search-field {
        margin: 15px 0;
        padding: 0px 8px;
        font-size: 20px;
    }

    .info-header {
        margin: 0;
        min-width: none;
        font-size: 20px;
        font-weight: bold;
    }

    .main-navbar {
        margin-top: 15px;
    }

    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 20px;
    }

    .main-border {
        margin-top: 106px;
    }

    .article-box {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .price {
        font-size: 25px;
    }

    .discount {
        font-size: 16px;
    }

    .description {
        font-size: 18px;
    }

    .form-item{
        max-width: 45%;
        flex: 0 0 45%;
    }

    .form-big-box{
        margin-left: 70px;
    }

    .login-form {
        margin: 60px auto;
        max-width: 50%;
    }


    .footer-box {
        display: flex;
        flex-wrap: nowrap;
    }

    .prooduct-detail-box,
    .detail-img-description-box {
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .product-detail-description,
    .detail-description {
        font-size: 21px;
        line-height: 1.2;
    }
    
    .product-detail-info-container,
    .detail-info-box {
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .detail-price {
        font-size: 50px;
        margin: 35px 0;
    }

    .small {
        font-size: 18px;
    }

    .delete-product{
        width: 70%;
        margin-top: 60px;
        margin-bottom: 165px;
    }

    .max{
        width: 60%;
    }

    .profile-container{
        width: 80%;
        margin: auto;
    }

    .user-data ul{
        margin-left: 30px;
    }

    .user-interest{
        margin-right: 30px;
    }

    .user-data-buttons button{
        padding: 5px;
        margin: 0px 60px;
    }

    .table-responsive {
        display: block;
        overflow-x: auto;
    }

    .table-responsive>.table-bordered {
        border: 0
    }
}