<%- include("../partials/dashboard/dashboard.ejs") %>

<main>

    <section>

			<h2 class="title">
                Formulario de creación de productos
			</h2>

			<div class="form-box"> 
				<form action="<%= (locals.dashboardlink ? dashboardlink : null) +"/products/create"
                %>" method="post" enctype="multipart/form-data" id="createProductForm">

					<div class="form-content-box">

						<%- include("../partials/products/productForm.ejs") %>

					</div>
				</form>
            </div>

    </section>
</main>
</body>
</html>