<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/headerStatic.ejs') %>
	<!-- /Header -->

	<main>
		<%- include('partials/confirmDelete.ejs') %>
	</main>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>