<%- include("./partials/dashboard.ejs") %>

<main>

    <section>

        
			<h2 class="title">
                <% if (locals.edit) { %>
                     Estás editando: <i> <%= product.name %></i> 
                <% } else { %>
                    Formulario de creación de productos
                <% } %>
                
                
				
			</h2>

			<div class="form-box"> 
				<form action="<%= locals.edit ?
                (locals.dashboardlink ? dashboardlink : null) + "/products/edit/"+product.id+"?_method=PUT":
                (locals.dashboardlink ? dashboardlink : null) +"/products/create"
                %>" method="post" enctype="multipart/form-data">
					<div class="form-content-box">

						<%- include("partials/productForm.ejs") %>

					</div>
				</form>

    </section>
</main>
</body>
</html>