<%- include("./partials/dashboard.ejs") %>
<main class="dashboard-title">
    <header >
        <h1>
            <%= title %>
        </h1>
    </header>
    <section class="info-card-container">
        <article class="info-card">
            <header class="info-card-info">
                <h3 class="info-card-title">
                    Actors quantity
                </h3>
                <strong class="h5 mb-0 font-weight-bold text-gray-800">
                    49
                </strong>
            </header>
            <aside class="col-auto">
                <i class="fas fa-user fa-2x"></i>
            </as>
        </article>
        <article class="info-card">
            <header class="info-card-info">
                <h3 class="info-card-title">
                    Actors quantity
                </h3>
                <strong class="h5 mb-0 font-weight-bold text-gray-800">
                    49
                </strong>
            </header>
            <aside class="col-auto">
                <i class="fas fa-user fa-2x"></i>
            </as>
        </article>
        <article class="info-card">
            <header class="info-card-info">
                <h3 class="info-card-title">
                    Actors quantity
                </h3>
                <strong class="h5 mb-0 font-weight-bold text-gray-800">
                    49
                </strong>
            </header>
            <aside class="col-auto">
                <i class="fas fa-user fa-2x"></i>
            </as>
        </article>
    </section>
</main>

</body>
</html>