<%- include("./partials/dashboard.ejs") %>
<main class="dashboard-home">
    <header >
        <h1>
            <%= title %>
        </h1>
    </header>
    <section class="summary-card-container">
        <article class="summary-card">
            <header class="summary-card-info">
                <h3 class="summary-card-title">
                    Actors quantity
                </h3>
                <strong class="summary-card-data">
                    49
                </strong>
            </header>
            <figure class="summary-card-icon">
                <i class="fas fa-user fa-2x"></i>
            </figure>
        </article>

        <article class="summary-card green">
            <header class="summary-card-info">
                <h3 class="summary-card-title">
                    Actors quantity
                </h3>
                <strong class="summary-card-data">
                    49
                </strong>
            </header>
            <figure class="summary-card-icon">
                <i class="fas fa-user fa-2x"></i>
            </figure>
        </article>

        <article class="summary-card grey">
            <header class="summary-card-info">
                <h3 class="summary-card-title">
                    Actors quantity
                </h3>
                <strong class="summary-card-data">
                    49
                </strong>
            </header>
            <figure class="summary-card-icon">
                <i class="fas fa-user fa-2x"></i>
            </figure>
        </article>
    </section>
</main>

</body>
</html>