<%- include("./partials/dashboard.ejs") %>
<main class="dashboard-home">
    <header >
        <h1>
            <%= title %>
        </h1>
    </header>
    <section class="summary-card-container">
        <% for (const card of data) {%>
            <%- include("./partials/summaryCard.ejs", {card}) %>
        <% } %>
    </section>
</main>

</body>
</html>