<%- include("./partials/dashboard.ejs") %>
<main class="dashboard-home">
    <header >
        <h1>
            <%= title %>
        </h1>
    </header>
    <section class="summary-card-container">
        <% for (const card of data) {%>
            <%- include("./partials/summaryCard.ejs", {card}) %>
        <% } %>
    </section>
    <div class="data-container">
        <section class="product-highlight-box">
            <header class="product-highlight-header">
                <h3 class="product-highlight-title">Producto Más vendido</h3>
            </header>
            <article class="product-highlight-container">
                <figure class="product-highlight-img">
                    <img src="images/products/img-parlante-sony.jpg" alt="Sony Srs-xb12 Parlante Bluetooth Portátil">
                </figure>
                <h4 class="product-highlight-title">Sony Srs-xb12 Parlante Bluetooth Portátil</h4>
                <p class="product-highlight-description">Deja que la música dance cobre vida con EXTRA BASS™ Anima el ambiente con EXTRA BASS™. Un radiador pasivo trabaja con el parlante monoaural para potenciar los tonos bajos y mejorar los graves, a pesar del tamaño compacto. </p>
                <a class="dashboard-products-buttons"  href="/dashboard/product/16">
                    <button>
                        Ver Detalle
                    </button>
                </a>
            </article>
        </section>
        <div class="categories-status-container">
            <section class="cards-box">
                <header class="cards-header">
                    <h3 class="cards-title">Categorías en la Base de Datos</h3>
                </header>
                <div class="cards-container">
                    <article class="card-data">
                        <a href="#">
                            PC & Notebooks
                        </a>
                    </article>
                    <article class="card-data">
                        <a href="#">
                            Celulares y accesorios
                        </a>
                    </article>
                    <article class="card-data">
                        <a href="#">
                            Hogar
                        </a>
                    </article>
                    <article class="card-data">
                        <a href="#">
                            Audio & Video
                        </a>
                    </article>
                    <article class="card-data">
                        <a href="#">
                            Actividades al Aire Libre
                        </a>
                    </article>
                </div>
            </section>
            <section class="cards-box">
                <header class="cards-header">
                    <h3 class="cards-title">Estados en la Base de Datos</h3>
                </header>
                <div class="cards-container">
                    <article class="card-data">
                        <a href="#">
                            En Oferta
                        </a>
                    </article>
                    <article class="card-data">
                        <a href="#">
                            Novedades
                        </a>
                    </article>
                    <article class="card-data">
                        <a href="#">
                            Más Vendidos
                        </a>
                    </article>
                    <article class="card-data">
                        <a href="#">
                            Recomendados
                        </a>
                    </article>
                </div>
            </section>
        </div>
        </div>
</main>

</body>
</html>