<%- include("./partials/dashboard.ejs") %>

<main>

    <section>

        <div class="dashboard-products">

            <%- include("./partials/saleDetail.ejs") %>

        </div>

        <a href="/dashboard/sales/" class="dashboard-products-buttons">
            <button>
                Volver
            </button>
        </a>

    </section>
</main>
</body>
</html>