<%- include("./partials/dashboard.ejs") %>

<main>

    <section>

        
			<h2 class="title">
                <%= locals.edit ?
                    "Estás editando:  " + product.name :
                    "Formulario de creación de productos" 
                %>
				
			</h2>

			<div class="form-box"> 
				<form action="<%= locals.edit ?
                "/products/edit/"+product.id+"?_method=PUT":
                "/products/create"
                %>" method="post" enctype="multipart/form-data">
					<div class="form-content-box">

						<%- include("partials/productForm.ejs") %>

					</div>
				</form>

    </section>
</main>
</body>
</html>