<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/8aa20abfbf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>
    <title>Mercado liebre</title>
</head>
<body>
    <header class="main-header">

        <div class="main-header-top">
            <div class="logo-search">
                <a href="/" class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo" >
                </a>
                <form action="/" method="get" class="search-bar">
                    <input type="search" class="search-field" name="search">
                    <button type="submit" class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>

            <h2 class="info-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>


        <a href="#" class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </a>

        <a href="#" class="close-menu hidden">
            <i class="fa-solid fa-xmark"></i>
        </a>

        <nav class="main-navbar hidden" id="main-navbar">
            <ul class="navbar-right">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="navbar-left">
                <li><a href="/users/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/users/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>

    </header>

    <div class="banner">
        <img src="/images/img-home-banner.jpg"  alt="Banner">
    </div>

    <main>
        <section>
            
            <h2 class="title">
                Basado en tu última visita
            </h2>

            <div class="articles-box">
                <article>
                    <a href="#" class="img-article">
                        <img src="/images/img-cafetera-moulinex.jpg"  alt="Cafetera Moulinex">
                    </a>
                    <div class="info-article-box">
                        <div class="info-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h3 class="description">Cafetera Moulinex</h3>
                    </div>
                </article>
    
                <article>
                    <a href="#" class="img-article">
                        <img src="/images/img-macbook-pro-2019.jpg"  alt="MacBook Pro 2019">
                    </a>
                    <div class="info-article-box">
                        <div class="info-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% OFF</p>
                        </div>
                        <h3 class="description">MacBook Pro 2019</h3>
                    </div>
                    
                </article>
    
                <article>
                    <a href="#" class="img-article">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    </a>
                    <div class="info-article-box">
                        <div class="info-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% OFF</p>
                        </div>
                        <h3 class="description">Samsung Galaxy S10</h3>
                    </div>
                    
                </article>
    
                <article>
                    <a href="#" class="img-article">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    </a>
                    <div class="info-article-box">
                        <div class="info-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% OFF</p>
                        </div>
                        <h3 class="description">SmartTv Samsung 43"</h3>
                    </div>
                    
                </article>
            </div>

        </section>

        <section>

            <h2 class="title">
                Ofertas
            </h2>

            <div class="articles-box">
                <article>
                    <a href="#" class="img-article">
                        <img src="/images/img-cafetera-moulinex.jpg"  alt="Cafetera Moulinex">
                    </a>
                    <div class="info-article-box">
                        <div class="info-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h3 class="description">Cafetera Moulinex</h3>
                    </div>
                </article>
    
                <article>
                    <a href="#" class="img-article">
                        <img src="/images/img-macbook-pro-2019.jpg"  alt="MacBook Pro 2019">
                    </a>
                    <div class="info-article-box">
                        <div class="info-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$230.000</p>
                            <p class="discount">20% OFF</p>
                        </div>
                        <h3 class="description">MacBook Pro 2019</h3>
                    </div>
                    
                </article>
    
                <article>
                    <a href="#" class="img-article">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    </a>
                    <div class="info-article-box">
                        <div class="info-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$70.500</p>
                            <p class="discount">10% OFF</p>
                        </div>
                        <h3 class="description">Samsung Galaxy S10</h3>
                    </div>
                    
                </article>
    
                <article>
                    <a href="#" class="img-article">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    </a>
                    <div class="info-article-box">
                        <div class="info-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$23.200</p>
                            <p class="discount">5% OFF</p>
                        </div>
                        <h3 class="description">SmartTv Samsung 43"</h3>
                    </div>
                    
                </article>
            </div>
        </section>

    </main>

    <footer>

        <div class="footer-box">

            <section>
                <br>
                <div class="footer-icon">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo enpuntos de pago. ¡Y siempre es seguro!</p>
            </section>
    
            <section>
                <br>
                <div class="footer-icon">
                    <i class="fas fa-gift"></i>
                </div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
    
            <section>
                <br>
                <div class="footer-icon">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
    
            <section>
            
        </div>

        
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>
</body>
</html>