<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/headerStatic.ejs") %>
    <div>

        <main>
            <section>

                <%- include("./partials/productDetailBox.ejs") %>

            </section>

        </main>
    </div>
    <%- include("./partials/footer.ejs") %>

</body>
</html>