<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/headerStatic.ejs') %>
	<!-- /Header -->

	<main>
		<section>
			
			<h2 class="title">
				Formulario de creación de productos
			</h2>

			<div class="form-box">
				<form action="/products/create" method="post" enctype="multipart/form-data">
					<div class="form-content-box">
						
						<%- include("partials/productForm.ejs") %>

					</div>
				</form>
			</div>
		</section>
	</main>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>