<div class="dashboard-searchbar">
    <form action="/dashboard/<%= searchRoute %>" method="get" class="searchbar">
        <input type="search" class="search-input" name="search"/>
        <button type="submit" class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</div>