<section class="edit-email">
	
	<h2 class="title">
		Configuración de E-mail del sitio
	</h2>

	<div class="form-box"> 
		<form action="/dashboard/email"  method="POST">
			<div class="form-content-box">

				<div class="form-input-label-box big-box">
					<label class="form-label-product" id="email">
						E-Mail
					</label>
					<input type="text" class="form-input-product" id="email" name="email" value="<%= locals.data ? data.email : null %>">
					<span class="login-item error"><%= (locals.errors && errors.email) ? errors.email.msg : null %></span>
				</div>

				<div class="form-input-label-box big-box">
					<label class="form-label-product" id="pass">
						Código
					</label>
					<input type="text" class="form-input-product" id="pass" name="pass" value="<%= locals.data ? data.pass : null %>">
					<span class="login-item error"><%= (locals.errors && errors.pass) ? errors.pass.msg : null %></span>
				</div>

				<div class="dashboard-products-buttons">
					<button type="submit">
						Guardar
					</button>
				</div>

			</div>
		</form>
	</div>

</section>