<footer>

    <div class="footer-box">

        <section>
            <br>
            <div class="footer-icon">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>En MultiHogar, tenés cuotas sin interés con tarjeta o efectivo enpuntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <br>
            <div class="footer-icon">
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envío gratis sin costo alguno</h3>
            <p>Solo por estar registrado tenés envíos gratis en todos nuestros productos.</p>
        </section>

        <section>
            <br>
            <div class="footer-icon">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MultiHogar, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </section>

        <section>
        
    </div>

    
        <p>Copyright © 2023 MultiHogar S.R.L.</p>
    </section>

</footer>