<header class="fixed">

    <div class="main-header-top">
        <div class="logo-search">
            <a href="/" class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo" >
            </a>
            <form action="/search" method="get" class="search-bar">
                <input type="search" class="search-field" name="search">
                <button type="submit" class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>

        <h2 class="info-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
    </div>


    <a href="#" class="burger-menu">
        <i class="fa-solid fa-bars"></i>
    </a>

    <a href="#" class="close-menu hidden">
        <i class="fa-solid fa-xmark"></i>
    </a>

    <nav class="main-navbar hidden" id="main-navbar">
        <ul class="navbar-right">
            <li><a href="/products">Todos los productos</a></li>
            <li><a href="/products/status/1">Ofertas</a></li>
            <li><a href="/products/create">Vender</a></li>
            <li><a href="/help">Ayuda</a></li>
        </ul>

        <ul class="navbar-left">
            <li><a href="/users/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
            <li><a href="/users/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>

    </nav>

</header>