<section class="cart-quantity">
    <label for="counter" class="form-label">Cantidad</label>
    <aside>
        <button id="decrease"><i class="fa-solid fa-minus"></i></button>
        <p id="display"></p>
        <input type="hidden" value="1" id="counter" name="quantity">
        <button id="increase"><i class="fa-solid fa-plus"></i></button>
    </aside>
</section>