<div class="form-item big-box">
    <label for="avatar">Imagen de perfil</label>
    <input class="form-field" type="file"  id="avatar" name="avatar">
    <span class="login-item error" id="error-avatar"><%= (locals.errors && errors.avatar) ? errors.avatar.msg : null %></span>
</div>