<div class="form-item">
    <label for="password">Contraseña</label>
    <div class="password-container">
        <input class="form-field" type="password" id="password" name="password" <%= !locals.user  ? "required" : null %> >
        <i id="iconP" class="fa-regular fa-eye"></i>
    </div>
    <span id="error-password" class="login-item error"><%= (locals.errors && errors.password) ? errors.password.msg : null %></span>
</div>

<div class="form-item">
    <label for="confirm">Confirmar</label>
    <div class="password-container">
        <input class="form-field" type="password" id="confirm" name="confirm" <%= !locals.user  ? "required" : null %> >
        <i id="iconC" class="fa-regular fa-eye"></i>
    </div>
    <span id="error-confirm" class="login-item error"></span>
</div>
