<div class="form-item">
    <label for="password">Contraseña</label>
    <input class="form-field" type="password" id="password" name="password" <%= !locals.user  ? "required" : null %> >
    <span class="login-item error"><%= (locals.errors && errors.password) ? errors.password.msg : null %></span>
</div>

<div class="form-item">
    <label for="confirm">Confirmar Contraseña</label>
    <input class="form-field" type="password" id="confirm" name="confirm" <%= !locals.user  ? "required" : null %> >
    <span class="login-item error"></span>
</div>
