<div class="form-input-label-box">
    <label for="img" class="form-label-product">Imagen del producto:</label>
    <input type="file" id="img" name="img" class="form-input-product" value="" type=".jpg,.png,.bmp,.gif">
    <span class="login-item error" id="error-img"><%= (locals.errors && errors.img) ? errors.img.msg : null %></span>
</div>