<%- include("../partials/head.ejs") %>
<body>

    <%- include("../partials/headerStatic.ejs") %>
    <div class="main-border-form">
        <main>
            <form action="/users/newPassword?_method=PUT" method="post" class="login-form">

                <div class="login-item">
                    <label for="password">Contraseña</label>
                    <input  type="password" id="password" name="password" >
                    <span class="login-item error"><%= (locals.errors && errors.password) ? errors.password.msg : null %></span>
                </div>
                
                <div class="login-item">
                    <label for="confirm">Confirmar Contraseña</label>
                    <input  type="password" id="confirm" name="confirm" >
                    <span class="login-item error"></span>
                </div>

                <button type="submit">Enviar</button>

            </form>
        </main>
    </div>

    <%- include("../partials/footer.ejs") %>

</body>
</html>